{% extends "authentication/base.html" %}

{% load bootstrap %}
{% load i18n %}

{% block login_title %}{% trans 'Need Help Logging In?' %}{% endblock %}

{% block login_container_classes %}col-xs-offset-3 col-xs-6{% endblock %}

{% block login_content %}

    <div>
        {% trans 'Enter the email address* associated with your account and we will send you a link to reset your password.' %}
    </div>

    <br />

    <form action="." id="login" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-xs-12">
                <label class="control-label" for="{{ form.email.auto_id }}">{% trans 'Email Address:' %}</label>
                <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                    <input id="id_email" type="text" name="email" class="form-control" />
                </div>
                {% for error in form.email.errors %}
                    <div class="login-input-error">{{error}}</div>
                {% endfor %}
            </div>
        </div>

        <div class="login-notice">{% trans '*If any issue, please contact the System Administrator.' %}</div>

        <div class="login-bottom-button">
            <input class="btn-stretch" type="submit" Value="{% trans 'Request Password Reset' %}" />
        </div>

    </form>

{% endblock %}

