{% extends "authentication/base.html" %}

{% load bootstrap %}
{% load i18n %}

{% block login_title %}{% trans 'Need Help Logging In?' %}{% endblock %}

{% block login_container_classes %}col-xs-offset-3 col-xs-6{% endblock %}

{% block login_content %}

    <div class="login-text">

        {% blocktrans with email=email %}An email has been sent to <a href="mailto:{{ email }}">{{ email }}</a> to start the Password Reset Process.
        Please follow the instructions within the email to continue.{% endblocktrans %}

        <br />
        <br />

        {% trans "PS. Don't forget to check your spam folder as system messages may automatically be routed there by your email provider." %}

        <br />
        <br />

    </div>
{% endblock %}

