<div class="member-edit-form-title">Home Group</div>
<select name="home_group" id="home_group" class="form-control group" style="width:200px; margin-bottom:20px">
    <option value="">Select a group</option>
{{#each groups}}
    <option value="{{ id }}">{{ name }}</option>
{{/each}}
</select>
