
<div class="row">
    <div class="col-xs-12">
        <div class="main-heading-container">

            <nav class="col-xs-12 col-sm-8 main-nav-icon">
                <h1 class="main-text-ellipsis" title="{{title}}">{{title}}</h1>
            </nav>

            <div class="col-xs-12 col-sm-4 pull-right main-search-box">

                <div class="input-group">
                    <input type="text"
                           id="main-search-input"
                           name="search"
                           class="main-search-input form-control"
                           placeholder="{{placeholder}}" />
                    <span class="input-group-btn">
                        <button type="submit"
                                id="main-search-button"
                                class="btn main-search-button">
                            <span class="main-search-button-icon fui-search"></span>
                        </button>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div class="main-separator"></div>
</div>
