
<div class="row attendance-filter-header">
    <div class="col-xs-12 col-sm-2">
    </div>
    <div class="col-xs-12 col-sm-8 pull-right text-right">
        <button class="btn btn-primary member-add-button">Add a member</button>
    </div>

    <div class="group-separator"></div>
</div>

<div class="responsive">
    <table id="attendancesTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Member</th>
            {{#each evts}}
                <th class="meeting{{ id }}">{{ name }}</th>
            {{/each}}
            </tr>
        </thead>
        <tbody>
        {{#each members}}
            <tr>
                <td>{{ name }}</td>
            {{#each attendance}}
                <td><input class="check meeting{{ evt_id }}" {{#if attended}}checked{{/if}} type="checkbox"></input></td>
            {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<div id="attendance-index-modal"></div>
