
<div class="main-modal-top-small">
    <div class="main-modal-top-title">Event</div>
    <span class="close close-button"></span>
</div>

<form id="event-edit-form" class="member-edit-form">
    <div class="member-edit-form-section-name">
        <div class="member-edit-form-wrapper">
            <div class="member-edit-form-title">Name</div>
            <input type="text" name="name" value="" class="bootstrap-tagsinput" />
        </div>
    </div>

    <div class="bbm-modal__bottombar main-button-panel">
        <ul class="actions">
            <li><button class="btn btn-normal btn-responsive close-button">Cancel</button></li>
            <li><button class="btn btn-primary btn-responsive save">Save Changes</button></li>
        </ul>
    </div>

</form>
