{% extends "core/base.html" %}

{% block extrajs %}
    <script type="text/javascript" src="/static/js/core/bundle.js"></script>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/libs/datatables/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/core/member.css" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/libs/bootstrap-slider/bootstrap-slider.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/libs/bootstrap-tagsinput/bootstrap-tagsinput.css" /> -->
{% endblock %}
