
<div class="main-modal-top-small">
    <div class="main-modal-top-title">Member</div>
    <span class="close close-button"></span>
</div>

<form id="member-edit-form" class="member-edit-form">
    <div class="member-edit-form-section-name">
        <div class="member-edit-form-wrapper">
            <div class="member-edit-form-title">First Name</div>
            <input type="text" name="first_name" value="" class="bootstrap-tagsinput" />
            <div class="member-edit-form-title">Last Name</div>
            <input type="text" name="last_name" value="" class="bootstrap-tagsinput" />
            <div class="member-edit-form-title">Email</div>
            <input type="text" name="email" value="" class="bootstrap-tagsinput" />
            <div class="member-edit-form-title">Other Name</div>
            <input type="text" name="other_name" value="" class="bootstrap-tagsinput" />
            <div class="member-edit-form-title">Gender</div>
            <select name="gender" id="gender" class="form-control" style="width:200px; margin-bottom:20px">
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
            <div class="member-edit-form-title">Language</div>
            <select name="language" id="language" class="form-control" style="width:200px; margin-bottom:20px">
                <option value="English">English</option>
                <option value="Chinese">Chinese</option>
                <option value="Spanish">Spanish</option>
                <option value="Korean">Korean</option>
                <option value="Vietnanese">Vietnanese</option>
            </select>
        </div>
    </div>

    <div class="bbm-modal__bottombar main-button-panel">
        <ul class="actions">
            <li><button class="btn btn-normal btn-responsive close-button">Cancel</button></li>
            <li><button class="btn btn-primary btn-responsive save">Save Changes</button></li>
        </ul>
    </div>

</form>
