
<div class="main-modal-top-small">
    <div class="main-modal-top-title">Member</div>
    <span class="close close-button"></span>
</div>

<form id="member-edit-form" class="member-edit-form">
    <div class="member-edit-form-section-name">
        <div class="member-edit-form-wrapper">
            <div class="member-edit-form-title">First Name</div>
            <input type="text" name="first_name" value="" class="bootstrap-tagsinput" />
            <div class="member-edit-form-title">Last Name</div>
            <input type="text" name="last_name" value="" class="bootstrap-tagsinput" />
            <div class="member-edit-form-title">Email</div>
            <input type="text" name="email" value="" class="bootstrap-tagsinput" />
        </div>
    </div>

    <div class="bbm-modal__bottombar main-button-panel">
        <ul class="actions">
            <li><button class="btn btn-normal btn-responsive close-button">Cancel</button></li>
            <li><button class="btn btn-primary btn-responsive save">Save Changes</button></li>
        </ul>
    </div>

</form>
