
<div class="btn-group btn-tlx-group {{btnCSS}} {{#if isError}}error{{/if}}">
    <button class="btn dropdown-toggle btn-xs " type="button" data-toggle="dropdown">
        <span class="filter-option pull-left btn-group-label main-text-ellipsis">
            {{{selectedLabel}}}{{#if selectedLabel}}&nbsp;{{/if}}
        </span><span class="caret"></span>
    </button>
    <span class="dropdown-arrow"></span>
    <ul class="dropdown-menu {{ulCSS}}">
    </ul>
</div>

