<div style="padding: 10px">
    <table id="membersTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>B/S</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
        {{#each members}}
            <tr>
                <td class="member-name-link">{{ last_name }}</td>
                <td class="member-name-link">{{ first_name }}</td>
                <td>{{ gender }}</td>
                <td><input data-id="{{ id }}" class="check member-check" type="checkbox"></input></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
